/*index.html*/
@mixin header ($col){
    display:grid;
    grid-template-columns: $col;
}




/**/
@mixin grid ($col, $rows){
    display: grid;
    grid-template-columns: $col;
    grid-template-rows: $rows;
}