/*index.html*/

@mixin grid ($col, $row){
    display: grid;
    grid-template-columns: $col;
    grid-template-rows: $row;
}

@mixin flex(){
    display: flex;
    flex-direction: $direct;
    flex-wrap: $wrap;
}