
@mixin grid ($col, $row){
    display: grid;
    grid-template-columns: $col;
    grid-template-rows: $row;
}

@mixin flex($direct, $wrap){
    display: flex;
    flex-direction: $direct;
    flex-wrap: $wrap;

}
@mixin carrito($direct){
    display: flex;
    flex-direction: $direct;
}

@mixin navBarStyle($justify, $direct){
    display: flex;
    justify-content: $justify;
    flex-direction: $direct;
}

@mixin imagenesCatalogo($col){
    display: grid;
    grid-template-columns: $col;
}