footer {
    .pieDePagina{
    background-color: #fadb9336;
    margin-top: 80px;
    border-radius: 5px;
    padding: 17px;}
    p {
        font-size: 30px;
        color: #FFFF;
        padding: 5px;
    }
    .mapaGoogle{
        padding: 20px;
    }
}

