footer {
    .pieDePagina{
    background-color: #fadb9336;
    margin-top: 150px;
    border-radius: 5px;
    padding: 4px;}
    p {
        color: #FFFF;
        text-align: center;
    }
    .mapaGoogle{
        padding: 20px;
        width: 412px;
        height: 305px;
    }
    .contenedor-ig-wsp-mapa{
        display: flex;
        flex-direction: row;
    }
    #pie{
        text-align: center;
        font-size: 30px;
        color: #FFFF;
        padding: 5px;
        display: block;
        background-color: rgba(179, 147, 119, 0.579);
    }
    
}

