footer {
    .pieDePagina{
    background-color: #fadb9336;
    margin-top: 73px;
    border-radius: 5px;
    padding: 4px;}
    p {
        font-size: 30px;
        color: #FFFF;
        padding: 5px;
    }
    .mapaGoogle{
        padding: 20px;
        width: 400px;
        height: 400px;
    }
    .contenedor-ig-wsp{
        display: flex;
        flex-direction: row;
    }
}

