/*tablet(index.html)*/
@media(max-width: 768px){
    body{
        background-image: url("../assets/img/mujersentada.jpg") ;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        width: auto;
    }
    
    header{
        background-color: rgb(140, 60, 60);
        opacity: 0.6;
        align-items: center;
        width: auto;
        position: relative;
        /*logo */
        .sombrerito {
            a{
                img{
                    position: absolute;
                    width: 100px;
                    padding: 5px;
                    bottom: 85%;
                    margin: 5px;
            }
        }
        p{
            color: #FFFF;
            display: grid;
            grid-template-columns: repeat(2,100px);
            grid-template-rows: repeat(2,29px);
            padding-left: 65px;
            
        }
        }
        /*contenedorcontactoycarrito*/
        .contenedor-c-c{
            padding: 20px;
            margin-top: -20px;
            margin-left: 20px;
            @include carrito(row);
            position: absolute;
            top: 37px;
            right: 117px;
            margin: -30px;
        }
        /*contacto*/
        html{
            scroll-behavior: smooth;
        }
    
        .imgaFinal1{
            margin-right: 20px;
            img{ 
                background-color: rgb(217, 146, 146);
                border-radius: 7%;
                width: 60px;
                height: 60px;
                -webkit-animation: heartbeat 2s ease-in-out  both;
                    animation: heartbeat 2s ease-in-out both;
            }
        }
        @-webkit-keyframes heartbeat {
            from {
            -webkit-transform: scale(1);
                transform: scale(1);
            -webkit-transform-origin: center center;
                transform-origin: center center;
            -webkit-animation-timing-function: ease-out;
                    nimation-timing-function: ease-out;
            }
            10% {
            -webkit-transform: scale(0.91);
                transform: scale(0.91);
            -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
            }
            17% {
            -webkit-transform: scale(0.98);
                transform: scale(0.98);
            -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
            }
            33% {
            -webkit-transform: scale(0.87);
                transform: scale(0.87);
            -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
            }
            45% {
            -webkit-transform: scale(1);
                transform: scale(1);
            -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
            }
        }
        @keyframes heartbeat {
            from {
            -webkit-transform: scale(1);
                transform: scale(1);
            -webkit-transform-origin: center center;
                transform-origin: center center;
            -webkit-animation-timing-function: ease-out;
                    animation-timing-function: ease-out;
            }
            10% {
            -webkit-transform: scale(0.91);
                transform: scale(0.91);
            -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
            }
            17% {
            -webkit-transform: scale(0.98);
                transform: scale(0.98);
            -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
            }
            33% {
            -webkit-transform: scale(0.87);
                transform: scale(0.87);
            -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
            }
            45% {
            -webkit-transform: scale(1);
                    transform: scale(1);
            -webkit-animation-timing-function: ease-out;
                    animation-timing-function: ease-out;
            }
        }
    
        .imgaFinal1 p{
            display: none;
        }
    
        /*carrito*/
        .imgaFinal2{
            @include carrito(row-reverse);
            margin-right: -4px;
            padding: 6px;
            margin-top: -6px;
            img{
                background-color: rgb(221, 157, 157);
                border-radius: 10%;
                height: 60px;
            }
            p{
                display: none;
            }
        }
        /*navbar*/
        .navbar-nav{
            padding-right:10px;
        }
}
    
/*main*/
/*imagenesIngresos */
.imagenesIngresos{
        img{
            background-color: rgb(192, 163, 163);
            border-color:#7e5861 ;
            width: 347px;
            height: 490px;
            object-fit: cover;
            transform: scale(0.9);
            transition: transform 1s ease;
        }
        p{
            text-align: center;
            font-size: 30px;
            color: antiquewhite;
            margin: 3px;
            padding: 8px;
        }
    
    }
    
    .contenedor-imgs-nuevosingresos{
        @include grid (repeat(2,371px),repeat(1,578px));
    }
    
    .titulosRopa p{
        color: rgb(234, 248, 248);
        font-size: 23px;
        padding: 2px;
        margin: 2px;
    }
    
/*footer*/
    footer .pieDePagina{
        background-color: #fadb9336;
        margin-top: 80px;
        border-radius: 5px;
        padding: 17px;
        width: auto;
        }
        .mapaGoogle{
            padding: 20px;
        }
        p {
            font-size: 30px;
            color: #FFFF;
            padding: 5px;
        }
    
}
/*tablet sobremi.html*/
/*sobremi*/
@media (max-width:768px) {
    header{
        background-color: rgb(140, 60, 60);
        opacity: 0.6;
        align-items: center;
        width: auto;
        position: relative;
        /*logo */
        .sombrerito a img{
            position: absolute;
            width: 100px;
            padding: 5px;
            bottom: 85%;
            margin: 5px;
        }
        /*sweet moban*/
        .sombrerito p{
            color: #FFFF;
            @include grid(repeat(2,100px),repeat(2,29px));
            padding-left: 65px;
        }

        .sweetmoban{
            display: none;
        }
    
        /*contenedorcontactoycarrito*/
        .contenedor-c-c{
            padding: 20px;
            margin-top: -20px;
            margin-bottom: 20px;
            @include carrito (row);
            position: absolute;
            top: 37px;
            right: 117px;
            margin: -30px;
        }
        /*contacto*/
        html{
            scroll-behavior: smooth;
        }
    
        .imgaFinal1{
            margin-right: 20px;
            img{ 
                background-color: rgb(217, 146, 146);
                border-radius: 7%;
                width: 60px;
                height: 60px;
                -webkit-animation: heartbeat 2s ease-in-out  both;
                    animation: heartbeat 2s ease-in-out both;
            }
        }
        @-webkit-keyframes heartbeat {
            from {
            -webkit-transform: scale(1);
                transform: scale(1);
            -webkit-transform-origin: center center;
                transform-origin: center center;
            -webkit-animation-timing-function: ease-out;
                    nimation-timing-function: ease-out;
            }
            10% {
            -webkit-transform: scale(0.91);
                transform: scale(0.91);
            -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
            }
            17% {
            -webkit-transform: scale(0.98);
                transform: scale(0.98);
            -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
            }
            33% {
            -webkit-transform: scale(0.87);
                transform: scale(0.87);
            -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
            }
            45% {
            -webkit-transform: scale(1);
                transform: scale(1);
            -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
            }
        }
        @keyframes heartbeat {
            from {
            -webkit-transform: scale(1);
                transform: scale(1);
            -webkit-transform-origin: center center;
                transform-origin: center center;
            -webkit-animation-timing-function: ease-out;
                    animation-timing-function: ease-out;
            }
            10% {
            -webkit-transform: scale(0.91);
                transform: scale(0.91);
            -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
            }
            17% {
            -webkit-transform: scale(0.98);
                transform: scale(0.98);
            -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
            }
            33% {
            -webkit-transform: scale(0.87);
                transform: scale(0.87);
            -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
            }
            45% {
            -webkit-transform: scale(1);
                    transform: scale(1);
            -webkit-animation-timing-function: ease-out;
                    animation-timing-function: ease-out;
            }
        }
    
        .imgaFinal1 p{
            display: none;
        }
    
        /*carrito*/
        .imgaFinal2{
            @include carrito (row-reverse);
            margin-right: -4px;
            padding: 6px;
            margin-top: -6px;
            img{
                background-color: rgb(221, 157, 157);
                border-radius: 10%;
                height: 60px;
            }
            p{
                display: none;
            }
        }
        /*navbar*/
        .navbar-nav{
            padding-right:10px;
        }
    }
    .sobreMi {
        h1{
            text-align: center;
            color: #FFFF;
            font-size: 40px;
        }
        p {
            color: #FFFF;
            text-align: center;
            font-size: 25px;
            margin-top: 40px;
            margin-bottom: 15px;
        }
    }

    
        footer {
            .pieDePagina{
            background-color: #fadb9336;
            margin-top: 73px;
            border-radius: 5px;
            padding: 5px;}
            p {
                font-size: 30px;
                color: #FFFF;
                padding: 5px;
            }
            .mapaGoogle{
                padding: 20px;
                width:275px;
                height: 300px;
            }
            .contenedor-ig-wsp{
                display: flex;
                flex-direction: row;
            }
        }
        
}

/*tablet catalogo.html*/
@media (max-width:768px) {
    /*logo de sweetmoban*/
    .container-img-p{
        display: flex;
    }
    .sweetmoban{
        display: flex;
        flex-direction: row;
        margin: 13px;
    }
    .img-logo{
        margin: -4px;
    }
    .contenedor-c-c{
        @include grid(repeat(2,1fr), repeat(1,1fr));
    }
    .container-img-p{
        display: flex;
        margin: 10px;
        padding: 10px;
    }
    
    .sweetmoban{
        display: flex;
        flex-direction: row;
        margin: 13px;
        font-size: 30px;
    
    }
    .img-logo{
        margin: -4px;
    }
    .linea{
        background-color: purple;
        width: 100%;
        height: 5px;
        display: block;
    }
    /*contacto*/
    html{
        scroll-behavior: smooth;
    }
    .imgaFinal1{
        img{
            background-color: rgb(217, 146, 146);
            border-radius: 5%;
            -webkit-animation: heartbeat 2s ease-in-out  both;
                animation: heartbeat 2s ease-in-out both;
        }
        p{
            display: none;
        }
    
    }
    
    @-webkit-keyframes heartbeat {
        from {
        -webkit-transform: scale(1);
            transform: scale(1);
        -webkit-transform-origin: center center;
            transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
                nimation-timing-function: ease-out;
        }
        10% {
        -webkit-transform: scale(0.91);
            transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
        }
        17% {
        -webkit-transform: scale(0.98);
            transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
        }
        33% {
        -webkit-transform: scale(0.87);
            transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
        }
        45% {
        -webkit-transform: scale(1);
            transform: scale(1);
        -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
        }
    }
    @keyframes heartbeat {
        from {
        -webkit-transform: scale(1);
            transform: scale(1);
        -webkit-transform-origin: center center;
            transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }
        10% {
        -webkit-transform: scale(0.91);
            transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
        }
        17% {
        -webkit-transform: scale(0.98);
            transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
        }
        33% {
        -webkit-transform: scale(0.87);
            transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
        }
        45% {
        -webkit-transform: scale(1);
                transform: scale(1);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }
    }
    
    
    /*carrito*/
    .imgaFinal2 {
        img{
        background-color: rgb(221, 157, 157);
        border-radius: 10%;
        height: 64px;
        -webkit-animation: heartbeat 2s ease-in-out  both;
            animation: heartbeat 2s ease-in-out both;}
            p{
                display: none;
            }
    }
    
    @-webkit-keyframes heartbeat {
        from {
        -webkit-transform: scale(1);
            transform: scale(1);
        -webkit-transform-origin: center center;
            transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
                nimation-timing-function: ease-out;
        }
        10% {
        -webkit-transform: scale(0.91);
            transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
        }
        17% {
        -webkit-transform: scale(0.98);
            transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
        }
        33% {
        -webkit-transform: scale(0.87);
            transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
        }
        45% {
        -webkit-transform: scale(1);
            transform: scale(1);
        -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
        }
    }
    @keyframes heartbeat {
        from {
        -webkit-transform: scale(1);
            transform: scale(1);
        -webkit-transform-origin: center center;
            transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }
        10% {
        -webkit-transform: scale(0.91);
            transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
        }
        17% {
        -webkit-transform: scale(0.98);
            transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
        }
        33% {
        -webkit-transform: scale(0.87);
            transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
        }
        45% {
        -webkit-transform: scale(1);
                transform: scale(1);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }
    }
    
    /*imgs*/
    .imagenesCatalogo{
        @include grid(repeat(2,1fr), repeat(2,1fr));
    
        
        img{

            object-fit: cover;
            width: 90%;
            vertical-align: top;
            height: 400px;
            padding: 10px;
            margin: 10px;
            background-color: rgb(192, 163, 163);
            &:hover{
                transform:scale(1.1);
                transition: all 1s ease-in-out;
                cursor: pointer;
            }
        }

            p{
                color: white;
                font-size: 25px;
                margin: 20px;
            }
        
    }  
    }

/*informacion.html*/
@media (max-width:768px) {
    header{
        background-color: rgb(140, 60, 60);
        opacity: 0.6;
        align-items: center;
        width: auto;
        position: relative;
        /*logo */
        .sombrerito a img{
            position: absolute;
            width: 100px;
            padding: 5px;
            bottom: 85%;
            margin: 5px;
        }
        /*sweet moban*/
        .sombrerito p{
            color: #FFFF;
            @include grid (repeat(2,100px), repeat(2,29px));
            padding-left: 65px;
        }
        /*contenedorcontactoycarrito*/
        .contenedor-c-c{
            padding: 20px;
            margin-top: -29px;
            margin-right: -63px;
            display: flex;
            flex-direction: row; 
            position: absolute;
            top: 37px;
            right: 117px;
        }
        /*contacto*/
        html{
            scroll-behavior: smooth;
        }
    
        .imgaFinal1{
            margin-right: 20px;
            img{ 
                background-color: rgb(217, 146, 146);
                border-radius: 7%;
                width: 60px;
                height: 60px;
                -webkit-animation: heartbeat 2s ease-in-out  both;
                    animation: heartbeat 2s ease-in-out both;
            }
        }
        @-webkit-keyframes heartbeat {
            from {
            -webkit-transform: scale(1);
                transform: scale(1);
            -webkit-transform-origin: center center;
                transform-origin: center center;
            -webkit-animation-timing-function: ease-out;
                    nimation-timing-function: ease-out;
            }
            10% {
            -webkit-transform: scale(0.91);
                transform: scale(0.91);
            -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
            }
            17% {
            -webkit-transform: scale(0.98);
                transform: scale(0.98);
            -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
            }
            33% {
            -webkit-transform: scale(0.87);
                transform: scale(0.87);
            -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
            }
            45% {
            -webkit-transform: scale(1);
                transform: scale(1);
            -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
            }
        }
        @keyframes heartbeat {
            from {
            -webkit-transform: scale(1);
                transform: scale(1);
            -webkit-transform-origin: center center;
                transform-origin: center center;
            -webkit-animation-timing-function: ease-out;
                    animation-timing-function: ease-out;
            }
            10% {
            -webkit-transform: scale(0.91);
                transform: scale(0.91);
            -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
            }
            17% {
            -webkit-transform: scale(0.98);
                transform: scale(0.98);
            -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
            }
            33% {
            -webkit-transform: scale(0.87);
                transform: scale(0.87);
            -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
            }
            45% {
            -webkit-transform: scale(1);
                    transform: scale(1);
            -webkit-animation-timing-function: ease-out;
                    animation-timing-function: ease-out;
            }
        }
    
        .imgaFinal1 p{
            display: none;
        }
    
        /*carrito*/
        .imgaFinal2{
            display: flex;
            flex-direction: row-reverse;
            margin-right: -4px;
            padding: 6px;
            margin-top: -6px;
            img{
                background-color: rgb(221, 157, 157);
                border-radius: 10%;
                height: 60px;
            }
            p{
                display: none;
            }
        }
        /*navbar*/
        .navbar-nav{
            padding-right:10px;
        }
    
    }
    
    .textoInfo{
        h1{
        text-align: center;
        color: #FFFF;
        font-family: 'Ubuntu', sans-serif;
        font-size: 40px;
        padding: 20px;
    }
    
    p{
        text-align: center;
        color: #FFFF;
        font-family: 'Ubuntu', sans-serif;
        font-size: 30px;
        padding: 20px 30px;
    }}
    


.texto2Info {
    h2{
        text-align: center;
        color: #FFFF;
        font-family: 'Ubuntu', sans-serif;
        font-size: 40px;
        padding: 20px 30px;
    }
    p{
        text-align: center;
        color: #FFFF;
        font-family: 'Ubuntu', sans-serif;
        font-size: 30px;
        
    }
}

}
/*login.html*/
@media (max-width:768px) {
    
    .formulario {
        

    }
   
      .titulo1 {
        font-size: 40px;
        padding: 15px;
        color: #faf5e7;
        text-decoration-line: underline;
        text-align: center;
        margin: 5px;
        font-family: 'Ubuntu', sans-serif; }
      .campo1 {
        background-color: #fbeeca4a;
        text-align: center;        
        border-radius: 2rem;
        p {
            color: #fbfbfb; } 
        }
      
      #email, #password {
        
        border-radius: .5rem;
        height: 34px;
        border-color: #7e5861;
        width: 241px; }

      #botonL {
        padding: 10px 30px;
        margin-top: 45px;
        margin-bottom: 13px;
        border-radius: 10rem;
        color: white;
        background-color: #151b27;
        border-color: #E8C4C4;
        cursor: pointer;
        -webkit-animation: shake-horizontal 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
        animation: shake-horizontal 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) both; }
      @-webkit-keyframes shake-horizontal {
        0%,
        100% {
          -webkit-transform: translateX(0);
          transform: translateX(0); }
        10%,
        30%,
        50%,
        70% {
          -webkit-transform: translateX(-10px);
          transform: translateX(-10px); }
        20%,
        40%,
        60% {
          -webkit-transform: translateX(10px);
          transform: translateX(10px); }
        80% {
          -webkit-transform: translateX(8px);
          transform: translateX(8px); }
        90% {
          -webkit-transform: translateX(-8px);
          transform: translateX(-8px); } }
      @keyframes shake-horizontal {
        0%,
        100% {
          -webkit-transform: translateX(0);
          transform: translateX(0); }
        10%,
        30%,
        50%,
        70% {
          -webkit-transform: translateX(-10px);
          transform: translateX(-10px); }
        20%,
        40%,
        60% {
          -webkit-transform: translateX(10px);
          transform: translateX(10px); }
        80% {
          -webkit-transform: translateX(8px);
          transform: translateX(8px); }
        90% {
          -webkit-transform: translateX(-8px);
          transform: translateX(-8px); } }
      .campo2 {
        background-color: #fff8e74a;
        text-align: center;
        border-radius: 2rem; 
        p {
            color: #fbfbfb; }
    }
}